<h1 class="text-4xl font-bold text-gray-50 bg-red-600 px-4 py-2 ">Remplissez les parties vides avec les consignes suggerées </h1>

<%= render 'form', contentweb: @contentweb %>

<%= link_to 'Back', contentwebs_path %>



<div>Header 1 
<div>Veuillez remplir ici la partie Header 1 qui va donner un titre </div>

</div>
