<div class='bg-black'>
 <div class="max-w-screen-xl p-4  mx-auto px-6 sm:px-6 lg:px-8 relative py-26 lg:mt-8">
  <div class="mt-20 xl:mt-2">
    <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="lg:col-start-2 lg:max-w-2xl ml-auto">
        <p class="text-base leading-6 text-indigo-500 font-semibold uppercase">
          Notre savoir-faire
        </p>
        <h4 class="mt-2 text-2xl leading-8 font-extrabold text-gray-50 dark:text-white sm:text-3xl sm:leading-9">
          Tous les ingrédients digitaux pour vous permettre de gagner en visibilé
        </h4>
        <p class="mt-4 text-lg leading-6 text-gray-500 dark:text-gray-300">
          Lead Collector met à votre disposition un ensemble d'outils à la pointe de la
          technologie
        </p>
        <ul class="mt-8 md:grid md:grid-cols-2 gap-6">
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex-shrink-0 flex items-center justify-center h-6 w-6 rounded-full bg-blue-100 text-purple-700 dark:text-green-500 drark:bg-transparent">
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span class="ml-4 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                Modification rapide grâce à votre tableau de bord
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex-shrink-0 flex items-center justify-center h-6 w-6 rounded-full bg-blue-100 text-purple-700 dark:text-green-500 drark:bg-transparent">
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span class="ml-4 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                Site web responsive
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex-shrink-0 flex items-center justify-center h-6 w-6 rounded-full bg-blue-100 text-purple-700 dark:text-green-500 drark:bg-transparent">
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span class="ml-4 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                Site optimisé SEO
              </span>
            </div>
          </li>
          <li class="mt-6 lg:mt-0">
            <div class="flex">
              <span class="flex-shrink-0 flex items-center justify-center h-6 w-6 rounded-full bg-blue-100 text-purple-700 dark:text-green-500 drark:bg-transparent">
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <span class="ml-4 text-base leading-6 font-medium text-gray-500 dark:text-gray-200">
                Gestion de vos réseaux
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10 lg:-mx-4 relative relative-20 lg:mt-0 lg:col-start-1">
        <div class="relative space-y-4">
          <div class="flex items-end justify-center lg:justify-start space-x-4">
            <img
              class="rounded-lg shadow-lg w-32 md:w-56"
              width="200"
              src="https://images.unsplash.com/photo-1562577309-2592ab84b1bc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIzNDM1NjU4&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
              alt="1"
            />
            <img
              class="rounded-lg shadow-lg w-40 md:w-64"
              width="260"
              src="https://images.unsplash.com/photo-1622929610538-fc41bdce80c6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIzOTY3NzU2&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
              alt="2"
            />
          </div>
          <div class="flex items-start justify-center lg:justify-start space-x-4 ml-12">
            <img
              class="rounded-lg shadow-lg w-24 md:w-40"
              width="170"
              src="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
              alt="3"
            />
            <img
              class="rounded-lg shadow-lg w-32 md:w-56"
              width="200"
              src="https://images.unsplash.com/photo-1562577309-4932fdd64cd1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit"
              alt="4"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>