<section class="px-8 text-gray-600 body-font overflow-hidden mt-10 mb-10 lg:px-12">
<div class="text-center mb-20">
<h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Nos produits</h1>
<p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Choississez l'abonnement qui convient aux besoins de votre entreprise</p>
<div class="flex mt-6 justify-center">
  <div class="w-16 h-1 rounded-full primary inline-flex"></div>
</div>
</div>
  <div class=" mx-auto border-2 shadow-lg rounded border-gray-900 ml-2 mr-2 mt-10 mb-10">
    <div class="mx-auto flex flex-wrap ">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center" src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 pl-4 mb-4">
        <h2 class="text-sm title-font text-gray-500 tracking-widest mt-4">Premium</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Abonnement clef en main !</h1>
        <div class="flex mb-4">
         
          <span class="flex flex-nowrap  pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
          Des questions ? 
            <a class="text-gray-500 ml-3" href='/contact'> 
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed mr-2">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex">
            <ul class="mb-8 space-y-2 mr-2">
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
            </ul>
        <ul class="mb-8 space-y-2 ml-2">
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
              </ul>
          </div>
          
        </div>
        <div class="flex mr-2">
          <span class="title-font font-medium text-2xl text-gray-900">350€ *</span>
          <button class="flex ml-auto text-gray-50 bg-gray-900 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">S'abonner</button>
          
          </button>
        </div>
        <div class="title-font italic text-sm text-gray-900 mt-4">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page</div>
      </div>
    </div>
  </div>
  <div class=" mx-auto border-2 border-gray-900   shadow-lg rounded  ml-2 mr-2 mt-10 mb-10">
    <div class="mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center" src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 pl-4 mb-4">
        <h2 class="text-sm title-font text-gray-500 tracking-widest mt-4">Premium</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Abonnement clef en main !</h1>
        <div class="flex mb-4">
         
          <span class="flex flex-nowrap  pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
          Des questions ? 
            <a class="text-gray-500 ml-3" href='/contact'> 
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed mr-2">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex">
            <ul class="mb-8 space-y-2 mr-2">
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
            </ul>
        <ul class="mb-8 space-y-2 ml-2">
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
              </ul>
          </div>
          
        </div>
        <div class="flex mr-2">
          <span class="title-font font-medium text-2xl text-gray-900">350€ *</span>
          <button class="flex ml-auto text-gray-50 bg-gray-900 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">S'abonner</button>
          
          </button>
        </div>
        <div class="title-font italic text-sm text-gray-900 mt-4">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page</div>
      </div>
    </div>
  </div>
  <div class=" mx-auto border-2 border-gray-900 shadow-lg rounded  ml-2 mr-2 mt-10 mb-10">
    <div class="mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center" src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 pl-4 mb-4">
        <h2 class="text-sm title-font text-gray-500 tracking-widest mt-4">Premium</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Abonnement clef en main !</h1>
        <div class="flex mb-4">
         
          <span class="flex flex-nowrap  pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
          Des questions ? 
            <a class="text-gray-500 ml-3" href='/contact'> 
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
        </div>
        <p class="leading-relaxed mr-2">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex">
            <ul class="mb-8 space-y-2 mr-2">
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                    <div class="mr-3">
                    <svg
                        class="w-4 h-4 text-teal-accent-400"
                        viewBox="0 0 24 24"
                        strokeLinecap="round"
                        strokeWidth="2"
                    >
                        <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                        <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                    </div>
                    <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
            </ul>
        <ul class="mb-8 space-y-2 ml-2">
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 deploys per day</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">10 GB of storage</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">3 domains</p>
                </li>
                <li class="flex items-center">
                  <div class="mr-3">
                    <svg
                      class="w-4 h-4 text-teal-accent-400"
                      viewBox="0 0 24 24"
                      strokeLinecap="round"
                      strokeWidth="2"
                    >
                      <polyline fill="none" stroke="currentColor" points="6,12 10,16 18,8" />
                      <circle cx="12" cy="12" fill="none" r="11" stroke="currentColor" />
                    </svg>
                  </div>
                  <p class="font-medium text-gray-300">SSL Certificates</p>
                </li>
              </ul>
          </div>
          
        </div>
        <div class="flex mr-2">
          <span class="title-font font-medium text-2xl text-gray-900">350€ *</span>
          <button class="flex ml-auto text-gray-50 bg-gray-900 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">S'abonner</button>
          
          </button>
        </div>
        <div class="title-font italic text-sm text-gray-900 mt-4">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page</div>
      </div>
    </div>
  </div>
</section>
