<div class='bg-black lg:border-b-2 border-gray-50'>
 <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
   <div class="relative flex items-center justify-between">
     <a
       href="/"
       aria-label="Lead Collector"
       title="Lead Collector"
       class="inline-flex items-center"
     >
     <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" class="w-12">
     <image
       height="500"
       href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAQAAABh3xcBAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ cwAADsQAAA7EAZUrDhsAAAAHdElNRQflDBgEJggQDBEqAAAPpklEQVR42u3dX48k11nA4VMza5HY YfeC2BJXkZAAkcSCTYSDYjtrrrDyXZDgEm78JUDcIyE+QcQdOLBOFARGshRBQIC4QCgES/GGNbF3 p4uL+ZPunuru6prurvOe93ks7073zM6c6qpfn/rTu10KAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AEB43dwDOLgvlX8vL5f/mHsY7OPhlx/cL4tydrU99qUv5eb/df0+33nCn+7WPu6WbnWlK2elK4ty 8f4HT57O/biN11jo775Wfr+8Ul4q/1w+LZ8rD8pZWZS+dOWs3CtnN0t8dvVxKbdXfHdzz7aNbcjQ Y9mvfHT7Z11uSPfeen3/ZX3nD3777askSukHfvrqTxu/pqdsE/2Gj4eWtrzzzrffXf3Ue3/19Udr P79fu715ycYvTb/zK/ZY4jd+872/n/QnZ3Fv7gEc0tMfvPiL5TPlhVLK1+Yey35e+rmnn+z7Z778 1UffmHvc07zyyq27PnMrt235TZ2eDjmtdbHaCTXYjb5Q/rH8eXmv/Eq5645dJBdzD2CUoX2NRdBl 2bUUFWsj9EX5w/J/5cVSSq0HI33FYzuucTveZ7u/EXfRxgP8hfLL5VfLf889jC0uj0/z7G1kEGpt tjGj/0v5Tvlh+U55Uu7PPZQN+rXfuw2f30ft+wfbTqfFFyrzVkL/YfmzUsrhjvRunx2/q+Uzyd3V ufLd54P3GWV/oJy2j2T3zxi6irG+tBHDX1+GYNoI/drwirheRdOfgw/77H34a8P7XQY89NgP8Cf6 1RNb/ePHFxfl+nTXvpcJ9xtjt+O7XH++e/iV+w+Wv2AR6gRiW6GvnHH4sHy+2mfgfnH42eFrr/7t 9+dermF/8a23v7n9K9YfjDcrvHD4+G9ef2P59lm1W9eQNk7Gtbk049V+vLjvnFxnQuuX02p/1Fe0 lcbqBhJpRdxtrJcvzfzs3AuxZXx7elDjnmadTz8jtRX66qb+bO7hbHGMjabeF3D0O27fVmPou5aq am2Fvro0oU6WTBB6hkm8bLNoK/RVNc/o60LNDntbP6Q69JnzU6t7dINaDv353APY4hCbSpxZL85I 91mKUEvVcuj1HrPeFnCOIJJ2Qw+VztO7jzbU8nJqbYUeaQ4/PKmzkdCpwSH+kg9btBX68uYR6lTJ wZceVrQVer64YZS2QgcGtRW6GR0GCZ3jm/oPT9cl6rhLKa2Fnut0VOhXajU09hCETg0irrlQT05C hwSEDgm0Ffoy0cONdkMHbrQVulm8TtbL7NoKPbNQ54A5NaHH1dI8GWFZIoxxo7ZCD70q4HjaCh0Y 1G7ojlnhRruhAzeEDgkIHRIQelwtX2NwhuXAhN6OlsOvQejHt63QQ68KOJ62QgcGCR0SaCt0p3Ba YU0eWFuhA4OEDgm0G7oz8HCj3dCphyPu2bUVeq5ZvKU3cODI2godGCR0amTv5MCEDgkIHRIQOiQg dEhA6JCA0GFfAa8JCB2mCfXyLKFDAkKHBIQOCQgdEhB6O0KdHOK0hE6NPGkdmNAhgbZCNw9wOqFe NtNW6MAgoUMCQocEhE6NnG05MKFDAm2FHuo8KJxOW6HTCrvuByZ0SEDoHF8b83Pod8YROjUKFVEE QocEhA7ThNrrEDqMEyrsdUKHaUKFL3RqVHdEAa8iCJ0anc89gBFjCpV7u6HXPSew1Uf/O/cIBlzM PYC7aDd0OKxQM/i6e3MPAG7rF6UrwdOqi9CpUbf0a30uxxXqaciuOyQgdEhA6DBNrQcWg4TO6YU6 ut04/lBLIfS4Qs0oO7ww9wD2cvnIh2rHWXcq8P53n30y8gUpd3t660d8th/86m7l/7Py7MdPZ3ig JhM6p3crt9/9vbmH1LpQux/ANEKHBITO6YU6X90GoUMCQocEhA4JCJ3Ta+mlPkEIHRIQOsdnBp+d 0CGBtkI3c8CgtkIHBgmd07PndXJChwSEDgkIHRIQejsc+bKR0CEBoUMCQocEhA4JCB0SEDokIHRO z4XAkxM6JCB0SEDokIDQIQGhc3reqeXkhA4JCB0SEDokIHRIQOiQgNAhAaFDAkKHBIQOCQgdEhB6 O7ywlI2EDgm0G7r5DW60GzpwQ+iQgNAhAaFDAkKHBIQOCQid0/MGDicndEhA6JCA0CEBoUMCQocE hA4JCB0SEDokIHRIQOiQgNDb4YWlbCR0SEDokIDQIQGhQwJChwSEHlfcf7k+7sjDEjokIHRIQOiQ gNAhAaFDAkLn+Jxln53QIQGhQwJCb4cdZDYSOiTQVujmNBjUVujAIKFDAkKHBIQOCQgdEhA6JCB0 SEDoHJ+3lpid0CEBoUMCQocEhA4JCB0SEDokIHRIQOiQgNAhAaFDAkKHBIQOCQgdEhA6JCB0SEDo kIDQOT1vtHFyQocEhA4JCJ3js6s+O6FDAkLn9MzwJyd0SEDokIDQOT277icndEhA6JCA0CEBoUMC Quf0vLvqyQkdEhA6JHBv7gFAKQ+/9OBz5aKcl7NydjP59GXTFff1Xf9+y61Sxl+37zbc6m7d25f+ /X948vHMD9sehM7p3TpG/6M//vqj0pdIR+/9G6+993dzD2I8oVOD8xIp8lJK6WK14xgdpgn1Ql6h QwJC5/S6EffUz4wOexL6kQkdEgh15pBW9Wuz4+PHF4tyr/RX19IvP7v98lu/9vsBB1dKKaV7+PD+ g+W7F4vZHq4JhE4F1vrt33xz7hHd9vivX18eVX92PveI9mHXnfrUecTe77hdNaFToQc17mnW+fQz ktCpUY1RhZrB1wmdGtUYemhCp0b1h17/CFcInRrVuJscLO1VQqcG3Y7bNarxyWgjoXN6ETJujNCp UY1PBTWOaTShQwJCh2kcozOLUBvemtC7xREIHRIQOkwTag9K6O2w+8tGQocpQs3nQocUhA4JCB3G CX0OROiQgNAhAaHDNKF25YXO8YVKok1Cp0aeGg5M6BxfsBeXtEjokIDQIQGhQwJChwSE3gonvNhC 6JCA0KnB+v5I/dfR6x/hCqHDOPGejJYIPS5H5YwmdEhA6JCA0CEBocMUwc6QCB0SEDokIHQYJ9jO +iqhQwJChwSEDgkIHaYJdcwudEhA6O0INcNwWkKHBITejlB/P3qNvZEjEzokIHRIQOjUyK78gQkd EhA6NYh8IjEEoUMCQocEhA4JCL0djnPZSOiQgNAhAaHDOKEPjYTOqXnV2wyEzvGFngvbIHSYJtTT l9DjCrWhMS+hQwJC59TsicxA6JCA0NvR0kxZ47LUOKbRhE6NQkdVI6G3ohPHkYV+fIUOCQidGnmZ 7IEJPa71GM7nHtDEcQ/56dyDHGDXnSp8OvcANtp3fu4/Wsw95AE1jmm0e3MPgIPoS82hr8+Ft8Lv 1+755lsf/7S8sPJ1/ZY/v+8TyZi5+Wdf05e+PC/lwf2le7pSFhfHftgOSehhrW9of/KnP3lys/ve l35LGt2WW1Mt/4TLKwD91X/dq7++9qW3wuzWxvCtv7z6DrXoLuNedhblUKmUIvTAzpYPu7pSvvLV uUc0Vnf7qWX4iaimo+KaxjKBY/S46pnv8oz8UsDohU4NIqYfKnehc3oRsw5O6HHFzeX2yEPNjhEJ Pa5QZ313eGHuAewt2N8tcNY9rr4Mz+r1bYDro7z10pP3v/vsk/J8cBmm77eMfxy6gZ/Sb/jKy68+ L89//NFxHqzjqG+juIOnH7/42Zsb/Ycffv7luUe0Sb9YfeS7Cevhi1985eXyvFxvfKszzPVmerj1 u/07bXs5y/V9i6tr+933f/CjDw82LvJ5+nG/5H9+NPd4NusX/Yq5x0PrHKNDAkKHBNoK3S4wDGor dGCQ0CEBoUMCQocEhA4JCB0SEDokIHRIQOiQgNBr4BV9HJnQIQGhQwJCr0FT//wHNRI6JCD0Krxk TueohF4HoXNUQq+D0DkqoUMCQq+DGZ2j8gYO1fqll//1v8p56QffXmCcTU8fh38l3l2eqE7xusBd 45swhn/64Nd+4wQjPxCh1+u8nJfrt2c4rLr2H2oYzZQxvDT3oPch9Dp0g/f1V/+P5TXzhzX+3Wmq J/R6Xa6bfeaartS0+U2ZJTeNvhv1VXcfZ7/HyEO1E2qwO9WzkR/CtPfrrGFH+C7LPO8yxn70tnDW HaZZ3P1bnI7Q69DsTNKUfue7xlarrV33tgy9Z/fyUbgnh9MKFfY6oddrbcP69vfe+q25h5TZa69+ 74NS9roKUhG77vVan0FCHRM2aH1SDDXDC70O/Yj7Qs4kDTlf+jhU5KUIvWb9jtuc1rObj/a52l4J ocdh131eoR9/oddrfcYwozOZs+6wr1A77ZfM6HGY0efVLf0ajtDrEHTzSSX0oZTQYZzQT8ZCh3GE DtRN6PXqdtyG0YQO4/RLv4YjdEhA6HHYdWcyoUMCQocEhA4JCL0OQc/lphL6HInQIQGhwzShZnih QwJCr8OYY3TH8Uwm9HoJu0ahdth/RugwTugnXqFDAkKPI/SMwryEDgkIHRIQOiQgdEhA6LC/cCdG hV6HbuR9zC1c4peEDgkIHaYJtccldEhA6JCA0OsQajcwqdDrSOj1Cnp+t1mh14fQIQGhw74u5/ZQ u/JCh32FSvyS0CEBoccR+mQQ8xJ6HUTMUQkdEhA6TBNqL0zo9ep33IbRhA4JCB0SEDokIHTYX7jX xgkdEhB6vcLNGtRL6HUQNUcl9Dg8GdQl1PoQOkwT6gVMQocEhA4JCH0eoY7viE/odQh1vEc8QocE hA7ThNoLayv0to982146jqqt0NsSasZIIPT6EDokIPQ6hJ4tqJ/QIQGhx2HWZ7KWQ3eWGq60HHrL y8YcAu9TtRyDGZ1DCv3v7LcVerflVnytLU80ocJe11bocZdtTMRCZ7JIMexrMfcAtpgyOzyfe9DJ fTL3AO6i5dCjW38ysK7mdV5KCbtfdW/uARxSv5LGLzx493HpSl8Wpb9ZPX3pS1+GZtRu4KPN8+7w 1/Qrn+9Kd/X75WcWpS+Lq/vWLEbsfTz6xtXyhT5WbEio5JsKvVt76B+9PveIxjo7LxfjF3Pu0VJK CbYemgo9sKFZet8NyUx/d+uPeb/lc6G0FXrcVXGIkcdd+np1Ez9XnbZO8MRdmrOR98EkbW1McZdm aOShZgzqFjeNIXEPRIaOr+MuTQ6h1k+owe70k/Lzcw9hb33pymLwnPuzclHOry4N9mvz++qFPHY7 /KnKJ3Mv0j6aCv3t3zm/d3Wl/Ppq9fXq3bSaN6/+bRvGtNfUL197v/74rJTSlYunn97+8n/7z66p tQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFTr/wFjKR7d Mcd8jQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0xMi0yNFQwMTozODowOCswMzowMHyT/TwAAAAl dEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTItMjRUMDE6Mzg6MDgrMDM6MDANzkWAAAAAAElFTkSuQmCC"
       width="500"
     />
   </svg>
       <span class="ml-2 text-xl font-bold tracking-wide text-gray-50 uppercase">
         Lead Collector
       </span>
     </a>
     <ul class="flex items-center hidden space-x-8 lg:flex">
       <li>
         <a
           href="/"
           aria-label="Accueil"
           title="Accueil"
           class="font-medium tracking-wide text-base text-gray-50 transition-colors duration-200 hover:primary-hover"
         >
           Accueil
         </a>
       </li>
       <li>
         <a
           href="/about"
           aria-label="About Lead Collector"
           title="About Lead Collector"
           class="font-medium tracking-wide text-base  text-gray-50 transition-colors duration-200 hover:primary-hover"
         >
           À propos
         </a>
       </li>
       <li>
         <a
           href="/product"
           aria-label="Products pricing"
           title="Products pricing"
           class="font-medium tracking-wide text-base  text-gray-50 transition-colors duration-200 hover:primary-hover"
         >
           Nos produits
         </a>
       </li>
       <li>
         <a
           href="/dashboard"
           aria-label="Tableau de board"
           title="Tableau de board"
           class="font-medium tracking-wide text-base  text-gray-50 transition-colors duration-200 hover:primary-hover"
         >
         Tableau de board
         </a>
       </li>
       <li>
         <a
           href="/contact"
           aria-label="Nous contacter"
           title="Nous contacter"
           class="font-medium tracking-wide text-base  text-gray-50 transition-colors duration-200 hover:primary-hover"
         >
         Nous contacter
         </a>
       </li>
     </ul>
     <ul class="flex items-center hidden space-x-8 lg:flex">
       <li>
         
         <% if current_user %>
            <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none "  %>
        <%else%>
            <%= link_to "S'abonner / Se connecter", new_user_session_path , class: "inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-pink-600 hover:bg-pink-700 focus:shadow-outline focus:outline-none" %>
        <%end%>
       </li>
     </ul>
     <div x-data="{ showMenu: false }" class="lg:hidden z-10">
       <button
         aria-label="Open Menu"
         title="Open Menu"
         class="p-2 -mr-1 transition duration-200 rounded focus:outline-none focus:shadow-outline "
          @click.prevent="showMenu = !showMenu "
       >
         <svg class="w-5 text-gray-50 hover:text-gray-900" viewBox="0 0 24 24" x-show="!showMenu" >
           <path
             fill="currentColor"
             d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"
             
           />
           <path
             fill="currentColor"
             d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"
           />
           <path
             fill="currentColor"
             d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"
           />
         </svg>
       </button>
       
         <div x-show="showMenu" class="absolute top-0 left-0 w-full">
           <div class="p-5 bg-white border rounded shadow-sm">
             <div class="flex items-center justify-between mb-4">
               <div>
                 <a
                   href="/"
                   aria-label="Lead Collector"
                   title="Lead Collector"
                   class="inline-flex items-center"
                 >
                 <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" class="w-12">
                 <image href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAflBMVEX////41eX2yN398/eA eux6c+vtk7vkXJj2yd3jWJbbJ3f3zd9VTeZPRuX39/7nbqPzt9HjWZbjWZfdMn73zuBcU+f40eLl ZJ398vfqgrD52uj1wNfhTI7nb6XiUZHdNoDzt9L52+j87fTn5vxqY+nZ2PpWTeb5+P7V0vnT0Pka INdCAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAAd0SU1FB+UMFhAjOcdVmcoA AAZESURBVHja7dhJkxtVEIVRsIHGZvLEPM/w//8gLFpEEHZGON2l1rXuOctavIxXn3JReucdAAAA AAAAAAAAAAAAAN4y7z44l4eXvtqdvPf+Gc1jP7g5ow9PUx49PpePLt3tTj7+5Iw+Hcd+drYc/3oi uuiiiy666KKLLrroor9t0Z/ePnh22Nfg89sTX1y62xHRPz/00NeP/sWRY7+cNv2rw0acfkZXsemi vx7RR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXR R6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6Jn E31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F 9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo 2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2SqiH0/0l4ieTXTRjyF6NtFFP4bo2UQX/Rgp0b++ OZdvDs5wv646Oq8meiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiFxK9kOiFRC8keiHRC4leSPRCohcSvZDohUQvJHoh0QuJXkj0QqIXEr2Q6IVELyR6IdELiV5I 9EKiF7rq6O8+OJeHB2e4X1cd/dHjc/no4Az3S3TRjyF6NtFFP4bo2UQX/RiiZ7vq6E9vHzy7Ocrz 2xNfHJzhfl119NOmf3XYiKc2fSJ6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30 FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFH omcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcT fUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0 kejZRF8RfSR6NtFXRB+Jnk30FdFHomcTfUX0kejZRF8RfSR6NtFXRB+Jnu2qo58SffvgKN/dnvji 4Az360LRv799eT/cHOjH20N/Ok05bfrxbPpLXn/Tz+LJaYrorya66McQPZvooh9D9Gyii36MlOhf H/lB+D/fXLrbnVwo+s+H/V3yCr9c+qWmu1B0Lkn0QqIXEr2Q6IVELyR6IdELiV5I9EKiFxK9kOiF RC8keiHRC4leSPRCohcSvZDohUQvJHqhe4r+6yfX5bdLd7sT0UU/hujZRBf9GKJnE130Y4ieTXTR jzFHf//S972j30WfiJ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URf EX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0k ejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbR V0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0Qf iZ5N9BXRR6JnE31F9JHo2URfEX0kejbRV0QfiZ5N9BXRR6JnE33lOqL/capxpFP0P/8bc4p+Ld7u 6B+f89W8vOnXQvSR6JlEfyOij0TPJPobEX0keibR38jbHf2vv8/o0pcDAAAAAAAAAAAAAAAAAAAA AAAAAAAAAACu1T+IgN7dH1NxMgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0xMi0yMlQxMzozNTo1 NyswMzowMJkHNdgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTItMjJUMTM6MzU6NTcrMDM6MDDo Wo1kAAAAAElFTkSuQmCC" />
               </svg>
                   <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">
                     Lead Collector
                   </span>
                 </a>
               </div>
               <div>
                 <button
                   aria-label="Close Menu"
                   title="Close Menu"
                   class="p-2 -mt-2 -mr-2 transition duration-200 rounded hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                  @click.prevent="showMenu = !showMenu "
                 >
                   <svg class="w-5 text-gray-600" viewBox="0 0 24 24">
                     <path
                       fill="currentColor"
                       d="M19.7,4.3c-0.4-0.4-1-0.4-1.4,0L12,10.6L5.7,4.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l6.3,6.3l-6.3,6.3 c-0.4,0.4-0.4,1,0,1.4C4.5,19.9,4.7,20,5,20s0.5-0.1,0.7-0.3l6.3-6.3l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L13.4,12l6.3-6.3C20.1,5.3,20.1,4.7,19.7,4.3z"
                     />
                   </svg>
                 </button>
               </div>
             </div>
             <nav>
               <ul class="space-y-4 flex flex-col items-center justify-center">
                 <li>
                   <a
                     href="/"
                     aria-label="Accueil"
                     title="Accueil"
                     class="font-medium tracking-wide text-gray-900 transition-colors duration-200 hover:text-pink-600"
                   >
                     Accueil
                   </a>
                 </li>
                 <li>
                   <a
                     href="/about"
                     aria-label="À propos de Lead Collector"
                     title="À propos de Lead Collector"
                     class="font-medium tracking-wide text-gray-900 transition-colors duration-200 hover:text-pink-600"
                   >
                    À propos
                   </a>
                 </li>
                 <li>
                   <a
                     href="/products"
                     aria-label="Product pricing"
                     title="Product pricing"
                     class="font-medium tracking-wide text-gray-900 transition-colors duration-200 hover:text-pink-600"
                   >
                     Nos produits
                   </a>
                 </li>
                 <li>
                   <a
                     href="/dashboard"
                     aria-label="Tableau de board"
                     title="Tableau de board"
                     class="font-medium tracking-wide text-gray-900 transition-colors duration-200 hover:text-pink-600"
                   >
                     Tableau de board
                   </a>
                 </li>
                 <li>
                   <% if current_user %>
                    <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-pink-600 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"  %>
                   <%else%>
                   <%= link_to "S'abonner", new_user_session_path , class: "inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-pink-600 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none" %>
                  <%end%>
                 </li>
               </ul>
             </nav>
           </div>
         </div>
       
     </div>
   </div>
 </div>
</div>